body {
  background-image: radial-gradient(circle, lightblue, rgb(119, 119, 172));
}
div {
  text-align: center;
}
h1 {
  color: black;
}
img {
  width: 400px;
}

#thirdDiv {
  max-height: 600px;
  max-width: 500px;
  padding: 50px;
  border: 10px solid gray;
  margin: auto;
}
#spanId {
  font-size: 18px;
  margin: 50px;
}
